img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  display: inline-block;
}

p {
  color: $neutral-1;
}

h5,
h6 {
  font-weight: 500;
}

hr {
  height: 2px;
  background-color: $secondary;

  @include lg {
    height: 4px;
  }
}
