.about-slogan {
  width: 83%;
  max-width: 311px;
  padding: 8px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-bg {
  width: 93.35%;
  max-width: 351px;
  height: 304px;
  margin-top: -34px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 100% 75%;
  background-position: 0 52px;
}

.about-lg-slogan {
  width: 49.4%;
  max-width: 640px;
  padding: 69px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.about-slogan-left {
  top: 40px;
  left: -116px;
}

.about-slogan-right {
  top: 40px;
  right: -116px;
}

.about-lg-bg {
  width: 91.05%;
  max-width: 1180px;
  height: 318.4px;
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: 47.46% 86.6%;
  position: relative;

  @include xl {
    height: 385.2px;
  }

  @include xxl {
    height: 418px;
  }
}

.about-lg-bg-left {
  background-position: 90% 28px;
}

.about-lg-bg-right {
  background-position: 10% 28px;
}
