.scheduleCourse{
    .btnStyle{
        .btn{
            color:white;
            &:hover{
                background-color:$secondary-2;
                border-color: $secondary-2 !important;
            }

            &:disabled{
                background-color:$neutral-1;
                border-color:transparent;
            }
        }
    }
    .timeSelect{
        .btn{
            padding-left: 0px !important;
            padding-right: 0px !important;

            &:disabled{
                border-color:transparent;
                text-decoration: line-through;
            }

            &:hover{
            background-color: $primary;
        }
        }
    }
    .formSubmit{
        .btn{
            width: 200px;
            &:hover{
                background-color:$secondary-2 !important;
                border-color: $secondary-2 !important;
            }
        }
    }
}