.scheduleCourse{
    .btnStyle{
        .btn{
            color:white;
            &:hover{
                background-color:$secondary-2;
                border-color: $secondary-2 !important;
            }
            
            
            &.disabled{
                background-color:$neutral-1;
                border-color:transparent;
            }
            
            &.active{
                background-color:$secondary-2 !important;
                border-color: $secondary-2 !important;
            }
        }
    }
    .formSubmit{
        .btn{
            width: 200px;
            &:hover{
                background-color:$secondary-2 !important;
                border-color: $secondary-2 !important;
            }
        }
    }
}